* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fffdfd;
}

header {
    padding: 5px 4%;
    background: linear-gradient(135deg, #184e1b, #2d9d34); 
}


header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: color 0.2s, transform 0.2s;
}

header a:hover {
    color: #184e1b;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.sobremim {
    padding: 40px 5%;
    margin-top: 40px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sobremim .titulo {
    color: #2d9d34;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sobremim p {
    font-size: 12px;
    text-align: justify;
    margin: 20px auto;
    padding: 15px;
    line-height: 19.2px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 700px;
}
.certificados {
    display: flex;
    flex-direction: column; /* Alinha o título acima das imagens */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    margin-top: 20px;
}

.titulo_certificados {
    color: white; /* Cor do texto */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 20px; /* Espaço entre o título e as imagens */
}

.certificados_imagens {
    display: flex; /* Habilita o flexbox para as imagens */
    flex-wrap: wrap; /* Permite que as imagens sejam envolvidas em uma nova linha se não houver espaço suficiente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.certificado {
    position: relative;
    margin: 10px; /* Espaçamento entre as imagens */
    width: 200px; /* Defina uma largura fixa ou ajuste conforme necessário */
}

.certificado img {
    width: 100%; /* A imagem ocupa toda a largura do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

.certificado:hover img {
    transform: scale(1.1); /* Aumenta a imagem em 10% quando o cursor passa por cima */
}

.texto_certificado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    padding: 10px;
}



    main {
        margin-top: 40px;
    }
    
    .footer {
        text-align: center;
        padding: 20px 0;
        background-color: #2d9d34; /* Cor de fundo do footer */
        color: #fff; /* Cor do texto */
        position: relative; /* Para evitar sobreposição com outros elementos */
    }
    
    .btn-contato {
        display: flex; /* Utiliza flexbox para alinhar o botão */
        justify-content: center; /* Centraliza o botão horizontalmente */
        margin: 20px 0; /* Margem em cima e embaixo */
    }
    
    .btn-contato button {
        color: #ffffff;
        padding: 10px 40px;
        font-size: 18px;
        font-weight: 800;
        background-color: #2d9d34; 
        border: none;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 0 8px rgba(32, 82, 51, 0.5);
        transition: background-color 0.5s, box-shadow 0.5s, transform 0.3s;
    }
    
    .btn-contato button:hover {
        background-color: #184e1b;
        box-shadow: 0 0 15px rgba(52, 244, 4, 0.25);
        transform: scale(1.05);
    }
    
    @media (max-width: 768px) {
        header {
            padding: 20px 4%;
        }
    
        header nav ul li {
            padding: 10px 20px;
        }
    
        .sobremim .titulo {
            font-size: 32px;
        }
    }